SERVER_HTTP_PORT=8080
SERVER_HTTP_IP=0.0.0.0

JWT_SECRET="js2onsecrete@dsd1$$$@Dsda1dD3Vsaso###"
JWT_EXPIRES_IN=86400

WINSTON_LOGFILE="./logs/prod.log"

MONGOOSE_URL="mongodb+srv://tuliocll:ZjHVEywPE4ca2Y0U@cluster0.i9pvf.mongodb.net/chat?retryWrites=true&w=majority"

CRYPTO_SECRET="cryptos3cretd3vvch4tapp"
CRYPTO_HASH="sha256"
CRYPTO_DIGEST="hex"

GOOGLE_CLIENT_ID=your-client-id
GOOGLE_CLIENT_SECRET=your-client-secret
SESSION_SECRET=choose-a-random-string